

@mixin mobile {
    @media (min-width: 20rem) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 48rem) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 80rem) {
        @content;
    }
}

@mixin flex($align-items: center, $direction: row) {
    display: flex;
    align-items: $align-items;
    flex-direction: $direction;
  }